@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
:root{
  --font-color: white;
  --accent-color: #FF9100;
  --background-color: black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

html, body, #root, .App{
  width: 100%;
  height: 100%;
  background: var(--background-color);
  color: var(--font-color);
}

::placeholder{
  color: var(--font-color);
  opacity: 1;
}

h1{
  font-size: 120px;
  cursor: pointer;
}

h2{
  font-size: 60px;
}

p{
  font-size: 30px;
}

a{
  font-size: 30px;
  color: var(--accent-color);
  text-decoration: none;
}

span{
  color: var(--accent-color);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}